doctype html
  html(lang="ja")
    head
      // Title - Within 32 Character
      title 
      meta(charset="utf-8")
      meta(name="description" content="Important is first 40c within 120 Character")
      meta(name="author" content="")
      meta(name="viewport" content="width=device-width initial-scale=1")
      // for IE 
      meta(http-equiv="X-UA-Compatible" content="IT=edge")
      // for TEL Number 
      meta(name="format-detection" content="talephone=no") 
      // OGP
      meta(property="og:image" content="")
        
      // CSS
      link(rel='stylesheet'href="css/style.css")
        
      // Icon
      link(rel="apple-touch-icon" href="apple-touch-icon.png")
      link(rel="icon" type="image/png" href="/path/favicon-32.png" sizes="32x32")
      style.
        *{  }
        
    body
      header
        
      main 
        
      footer
        
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="js/script.js")
      script.
        
        
